<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="registrarAlumno(f)"
    fxLayoutGap="10px"
  >
    <mat-form-field>
      <mat-label>Ingrese Nombre del Alumno</mat-label>
      <input
        type="text"
        [(ngModel)]="nombreForm"
        name="nombre"
        required
        placeholder="Ingrese nombre"
        matInput
      />
      <mat-error>Debe ingresar un nombre</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingrese Apellidos</mat-label>
      <input
        type="text"
        [(ngModel)]="apellidoForm"
        name="apellidos"
        required
        placeholder="Ingrese apellidos"
        matInput
      />
      <mat-error>Debe ingresar los apellidos</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingrese fecha de nacimiento</mat-label>
      <input
        matInput
        type="text"
        placeholder="Seleccione fecha publicacion"
        [matDatepicker]="picker"
        name="fechaPublicacion"
        [(ngModel)]="fechaNacForm"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Debe ingresar una fecha de nacimiento</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingrese una materia</mat-label>
      <input
        type="text"
        [(ngModel)]="materiaForm"
        name="materia"
        required
        placeholder="Ingrese materia asociada"
        matInput
      />
      <mat-error>Debe ingresar una materia</mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Guardar
    </button>
    <a
      [routerLink]="['/listado-alumnos']"
      routerLinkActive="router-link-active"
    >
      Ver listado de alumnos de una materia</a
    >
    <router-outlet></router-outlet>
  </form>
</section>
